<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="projeto" value="seu projeto"/>
    <add key="titulo" value="sua atividade"/>
    <add key="url" value="sra.softtek.com"/>
    <add key="login" value="login da softtek"/>
    <add key="senha" value="senha da softtek"/>
    <add key="sendgridApi" value="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"/>
    <add key="email" value="endereco de email para avisar que foi feito processo"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>